* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Auth-Container {
  background-color: #7267ef;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Auth-InputGroup-Text,
.Auth-Input {
  font-size: 1.2rem;
}
.Auth-btn {
  background-color: #7267ef;
  color: whitesmoke;
  border: 0;
  font-size: 1.23rem;
  padding: 10px 15px;
  border-radius: 0.5rem;
}
.Pointer {
  cursor: pointer;
}

.Input-Group-Parent {
  max-width: 400px;
  text-align: justify;
  padding: 0.5rem;
}
